.center-wv {
    padding: 30px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-wv-stretch {
    padding: 30px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}