.translate-div {
    padding: 30px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-area {
    padding: 20px;
}

@media screen and (max-width: 699px) and (min-width: 100px) {
    .translate-div {
        padding: 30px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-area {
        padding: 20px;
    }
}

.colors-shit {
    position: fixed;
    top: 50px;
    height: 200px;
}

.center-wh {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-wh-color {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-el {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 4px;
    border-radius: 2px;
}

.color-el-white {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 1px;
    paddingTop: -1px;
    margin: 2px;
}