.text-area {
    padding: 10px;
    width: 40em;
    height: 500px;
}

.selection-stuff {
    padding: 20px;
    height: 50px;
}

.buttons-stuff {
    padding: 20px;
    padding-right: 20px;
    height: 60px;
}

.text-area-stuff {
    padding: 20px;
    height: 500px;
}